/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyer's Reset End */

@font-face {
    font-family: 'Ananda';
    src: url('./ananda-black-font/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
}
@font-face {
    font-family: 'PTSans';
    src: url('./PT_Sans/PTSans-Regular.ttf');
}

body {
    --fontmain: #d00000;

    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    flex-grow: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: default;
    background: url(src/background.jpg) fixed center center;
    background-size: cover;
}
/* Header Styling */

h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Ananda';
    padding-top: 25px;
    padding-bottom: 10px;
    color: var(--fontmain);
}

header {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    display: flex;
    width: 100%;
    text-align: center;
}

.h-top {
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;
}

.h-top img {
    height: 50px;
    width: 50px;
    justify-self: flex-start;
    cursor: pointer;
}

header ul {
    color: var(--fontmain);
    width: 70vw;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    font-size: 1.35em;
    height: 50px;
    align-items: center;
}

.nav-container li:hover {
    transition: 0.25s ease-in-out;
    transform: translateY(-7px);
    color: white;
    border-bottom: 3px solid white;
    cursor: pointer;
}

a {
    text-decoration: none;
}
header li {
    padding: 10px;
}

header li > a {
    color: inherit;
    padding: 10px;
}

.github:hover {
    fill: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: rotate(1turn);
}

/* Home styling */
main {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    width: clamp(200px, 100vw, 900px);
    min-height: 500px;
    justify-self: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px 0px 50px 0px;
    color: white;
    font-size: 2em;
    gap: 25px;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

.home {
    text-align: center;
}
.home > p:first-of-type {
    font-size: 1.5em;
    margin-bottom: -10px;
}

.gap {
    height: 0px;
    border: 1px solid white;
    width: 99.5%;
}

.home > button {
    font-family: 'PTSans';
    background: var(--fontmain);
    border: none;
    color: black;
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 9px;
    cursor: pointer;
}

.home > button:hover {
    color: white;
    transition: 0.2s ease-in-out;
}

.home > button:active {
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}

.home > .hours {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    margin-top: 20px;
    align-items: center;
}

.home > .hours > p {
    font-size: 0.8em;
}
.home > .hours > p:first-of-type {
    margin-bottom: 5px;
    font-size: inherit;
}

.home > p:last-of-type {
    margin-top: 20px;
    color: var(--fontmain);
}

/* Menu styling */
.menu {
    display: grid;
    justify-content: center;
    grid-template: 1fr / repeat(auto-fit, 300px);
    grid-auto-rows: min-content;
    align-items: start;
}

.menu img {
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.menu > div > p:first-of-type {
    position: absolute;
    font-size: 14px;
}
.menu > div a {
    color: white;
}

#a-color {
    color: black;
}

.menu > p:first-of-type {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.6em;
}

/* Contact styling */
.contact > p:first-of-type {
    font-size: 1.5em;
    text-align: center;
}

.contact > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'PTSans';
    justify-content: space-around;
    gap: 30px;
    flex-grow: 1;
    width: 100%;
    margin: 50px 0px;
}
.contact > div > div {
    font-size: 30px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    justify-content: center;
}

.smaller {
    font-size: 0.9em;
}
.contact > div > div > p {
    word-wrap: normal;
}
