/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Meyer's Reset End */

@font-face {
    font-family: 'Ananda';
    src: url('./ananda-black-font/AnandaBlackPersonalUseRegular-rg9Rx.ttf');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 16px;
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    flex-grow: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    --color-1: #03071e;
    --color-2: #370617;
    --color-3: #6a040f;
    --color-4: #9d0208;
    --color-5: #d00000;
    --color-6: #dc2f02;
    --color-7: #e85d04;
    --color-8: #f48c06;
    --color-9: #faa307;
    --color-10: #ffba08;
    cursor: default;
    background: url(../images/background.jpg) fixed center center;
    background-size: cover;
    /* https://www.freepik.com/free-ai-image/barbecue-skewers-meat-kebabs-with-vegetables-flaming-grill-ai-generative_43226962.htm#query=barbecue&position=1&from_view=search&track=sph */
}

/* Header Styling */

h1 {
    font-size: 48px;
    font-weight: 600;
    font-family: 'Ananda';
    padding-top: 25px;
    padding-bottom: 10px;
    color: var(--color-5);
}

header {
    flex-direction: column;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    display: flex;
    width: 100%;
}

.h-top {
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;
}

.h-top img {
    height: 50px;
    width: 50px;
    justify-self: flex-start;
    cursor: pointer;
}

header ul {
    color: var(--color-5);
    width: 70vw;
    max-width: 600px;
    display: flex;
    justify-content: space-around;
    font-size: 1.35em;
    height: 50px;
    align-items: center;
}

.nav-container li:hover {
    transition: 0.25s ease-in-out;
    transform: translateY(-7px);
    color: white;
    border-bottom: 3px solid white;
    cursor: pointer;
}

a {
    text-decoration: none;
}
header li {
    padding: 10px;
}

header li > a {
    color: inherit;
    padding: 10px;
}

.github:hover {
    fill: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    transform: rotate(1turn);
}

/* Main styling */
main {
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    width: clamp(200px, 100vw, 700px);
    justify-self: center;
    flex-direction: column;
    flex-grow: 1;
    margin: 50px 0px 50px 0px;
    color: white;
    font-size: 2em;
    gap: 20px;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
}

main > p:last-of-type {
    font-size: 0.7em;
}
.gap {
    height: 0px;
    border: 1px solid white;
    width: clamp(200px, 95vw, 650px);
}

main > button {
    background: var(--color-5);
    border: none;
    color: black;
    font-size: 18px;
    width: 130px;
    height: 40px;
    border-radius: 9px;
}

main > button:hover {
    color: white;
    transition: 0.2s ease-in-out;
}

main > button:active {
    transition: 0.2s ease-in-out;
    transform: scale(0.9);
}
